﻿@model ILoveShawa.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
}
<div id="registration-form">
    @using (Html.BeginForm("Register", "User", FormMethod.Post, new {role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Зарегистрировать новый аккаунт</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.ImageUrl, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    </span>
                    @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <button type="submit" class="btn btn-success btn-block btn-lg">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Зарегистрироваться
                    </button>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
