﻿@using System.Security.Principal
@using ILoveShawa.Models
@using ILoveShawa.ViewModels

@model ILoveShawa.Models.User
@{
    ViewBag.Title = Model.Name + "| ILoveShawa";
    ViewBag.Fluid = false;
}

<div id="user-profile">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div id="user-info">
                <div id="user-name">
                    <h2>@Model.Name</h2>
                </div>

                <div class="shawa-shop-list-avatar-container profile-pic-size">
                    <img src="@Model.ImageUrl" class="avatar" />
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 hidden-xs">

            <ul class="media-list review-list">
                @foreach (var review in Model.Reviews)
                {
                    @Html.Partial("Review",new ShowingReviewViewModel()
                    {
                        AvatarUrl = review.ShawaShop.AvatarUrl,
                        Name = review.ShawaShop.Name,
                        Url = Url.Action("Get","ShawaShop", new {id = review.ShawaShop.Id}),
                        Review = review
                    })
                }
            </ul>

        </div>

    </div>
</div>
