﻿@model ILoveShawa.ViewModels.ShawaShopViewModel
@{
    ViewBag.Title = "Добавить новый ShawaShop";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div id="shop-info" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        @using (Html.BeginForm("Add", "ShawaShop", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "shop-add" }))
        {
            @Html.AntiForgeryToken()
            <h4>Поделись своим ShawShop'ом со всеми!</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", id = "shop-address" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ImageUrl, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
                </div>
            </div>
            @Html.HiddenFor(m => m.Latitude, new { id = "shop-latitude" })
            @Html.HiddenFor(m => m.Longitude, new { id = "shop-longitude" })
            <div class="form-group">
                <div>
                    <input id="shop-submit" type="submit" class="btn btn-success" value="Добавить" />
                </div>
            </div>

            <img src="~/Content/Images/wow-logo.png" width="80%" />
        }
    </div>
    <div class="hidden-xs col-sm-8 col-md-8 col-lg-8" id="main">
        <div id="map"></div>
    </div>
</div>
@section head {
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.standard&onload=initAddShawaShop"></script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}