﻿@model IEnumerable<ILoveShawa.Models.ShawaShop>

@{
    ViewBag.Title = "Index";
    ViewBag.Fluid = true;
}

@section head {
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=initMap" type="text/javascript"></script>
}

@section scripts {
    <script type="text/javascript">
        shopsData = @Html.Raw(Json.Encode(Model.Select(shop => new
               {
                   shop.Id,
                   shop.Name,
                   shop.Latitude,
                   shop.Longitude,
                   Url = @Url.Action("Get", new { id = shop.Id })
               }).ToList()));
    </script>
}
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <ul class="media-list shop-list">
            @if (Request.IsAuthenticated)
            {
                <li><a href="/ShawaShop/Add" class="btn btn-primary btn-block btn-lg">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Добавить новый ShawaShop
                    </a>
                </li>
            }
            @foreach (var item in Model)
            {
                @Html.Partial("ShawaShopListItem", item)
            }
        </ul>
    </div>
    <div id="main" class="hidden-xs col-sm-8 col-md-8 col-lg-8">
        <div id="map">
        </div>
    </div>
</div>
