﻿@model ILoveShawa.Models.ShawaShop

@{ 
    ViewBag.Title = Model.Name + " | Фотографии";
    ViewBag.Fluid = true;
}

<h2>Фотографии из <a href=@Url.Action("Get", new { id = Model.Id})>@Model.Name</a></h2>

<div class="container">
    <ul class="row photo-list">
        @foreach (var photo in Model.Images)
        {
            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 photo-list-element">
                <img class="photo img-thumbnail" src="@photo.Url"/>
            </li>
        }
    </ul>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-photo">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>