﻿@using ILoveShawa.Models
@using ILoveShawa.ViewModels
@model ILoveShawa.Models.ShawaShop

@{
    ViewBag.Title = Model.Name;
    ViewBag.Fluid = false;
}

@section head {
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=initMap" type="text/javascript"></script>
}

@section scripts {
    <script type="text/javascript">
        singleShopData = @Html.Raw(Json.Encode(new {Model.Latitude,Model.Longitude,Model.Name, Url = @Url.Action("Get", new { id = Model.Id }) }));
    </script>
}

<h2>@Model.Name</h2>

<div>
    @if (!string.IsNullOrWhiteSpace(Model.Address))
    {
        <p>@Model.Address</p>
    }
</div>

<div class="row">
    <div id="single" class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
        <div id="map">
        </div>
    </div>
</div>

@if (Request.IsAuthenticated)
{
    <span id="show-and-add-score">
        @Html.Partial("ShowAndAddScore", Model.GetShowingScore(User.Identity.GetUserData().Id))
    </span>
}
else
{
    <span id="show-and-add-score" class="unauthorized">
        @Html.Partial("ShowAndAddScore", Model.GetShowingScore())
    </span>
}

<hr/>

<div class="image-block">
    <ul class="image-group col-sm-12 col-sm-12 col-md-12 col-lg-12">
        @{ List<ILoveShawa.Models.Image> images = Model.Images.ToList();}
        @for (var i = 0; i < Math.Min(4, images.Count); i++)
        {
            <li class="image-group-element col-sm-3 col-sm-3 col-md-3 col-lg-3">
                <img src="@images.ElementAt(i).Url" />
            </li>
        }
    </ul>

    <div>
        <a class="btn btn-default" href=@Url.Action("Photos", new { id = Model.Id})>Посмотреть все фотографии</a>
    </div>
</div>

<div class="row">
    <h3>Отзывы:</h3>
    <ul class="media-list review-list">
        @foreach (var review in @Model.Reviews)
        {
            @Html.Partial("Review", new ShowingReviewViewModel()
            {
                AvatarUrl = review.User.ImageUrl,
                Name = review.User.Name,
                Url = @Url.Action("Get", "User", new { id = review.User.Id }),
                Review = review
            })
        }
    </ul>
</div>
<hr />
<div class="row">
    @Html.Partial("AddReview", new ReviewViewModel { Positive = true, ShopId = Model.Id }, new ViewDataDictionary())
</div>
