﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.shop-item {
    padding-top: 5px;
}

    .shop-item:hover,
    .shop-item.hover,
    .shop-item.selected {
        background-color: #fcf8e3;
    }

.media.shop-item {
    margin-top: 0;
    padding-top: 15px;
}

    .media.shop-item:first-child {
        padding-top: 0;
    }

.shop-list {
    border-right: 1px solid #eee;
}

#map {
    background-color: #fcf8e3;
}

#main > #map {
    position: fixed;
    width: 100%;
    height: 100%;
}

#single > #map {
    height: 300px;
}

.shawa-shop-list-avatar-container {
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: relative;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.shawa-shop-list-avatar-container > img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

#positive-negative-switcher {
    padding-top: 7px;
}

    #positive-negative-switcher > label:not(:last-child) {
        padding-right: 7px;
    }

.profile-pic-size {
    width: 128px !important;
    height: 128px !important;
}

.review-text {
    padding-top: 10px;
    padding-bottom: 5px;
}

.shawashop-name {
    font-size: large;
}

#user-details {
    font-size: large;
}

#user-info {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.review-item .media-body {
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.review-item {
    border-top: 1px solid #eee;
    padding-top: 10px;
    padding-left: 10px;
}

.photo-list {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

    .photo-list .photo-list-element {
        list-style: none;
        margin-bottom: 25px;
    }

        .photo-list .photo-list-element img {
            cursor: pointer;
        }

.image-group {
    padding: 20px;
}

.image-group .image-group-element {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.image-group .image-group-element img {
    height: 200px;
    width: 100%;
}

.image-block {
    text-align: right;
}

.starRating:not(old) {
    display: inline-block;
    width: 30em;
    height: 3em;
    overflow: hidden;
    vertical-align: bottom;
}

    .starRating:not(old) > input {
        margin-right: -100%;
        opacity: 0;
    }

    .starRating:not(old) > label {
        display: block;
        float: right;
        position: relative;
        background: url('Images/shawa-off.png');
        background-size: contain;
    }

        .starRating:not(old) > label:before {
            content: '';
            display: block;
            width: 3em;
            height: 3em;
            background: url('Images/shawa-on.png');
            background-size: contain;
            opacity: 0;
            transition: opacity 0.2s linear;
        }

        .starRating:not(old) > label:hover:before,
        .starRating:not(old) > label:hover ~ label:before,
        .starRating:not(:hover) > :checked ~ label:before {
            opacity: 1;
        }

#score-info {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

#average-score {
    font-size: 36px;
}

#user-score-info {
    margin-left: 30px;
    vertical-align: super;
}

#user-score-value {
    height: 30px;
    width: 30px;
    line-height: 60px;
    -moz-border-radius: 30px;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    display: inline-block;
    line-height: 1.5;
}

.avarage-score {
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0px 4px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.photo-modal {
    height: 479px;
    margin: auto;
}

.modal-photo {
    display: inline-block;
}

.left-container {
    position: relative;
    left: 0;
    width: 500px;
    height: 100%;
}

#main.right-container {
    position: fixed;
    left: 520px;
    height: 100%;
    width: 100%;
}

.carousel-image-item {
    height: 100px;
    width: 100%;
    margin: auto;
}

.btn.disabled {
    outline: none;
}

.btn.disabled:active {
    outline: none;
}

.review-item {
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.review-item.positive {
    background-color: #e7f0e4;
}

.review-item.negative {
    background-color: #f2eaea;
}