﻿@model ILoveShawa.ViewModels.ReviewViewModel

@{
    string disabled = string.Empty;
    if (!Request.IsAuthenticated)
    {
        disabled = "disabled";
    }
}

<h3>Добавить отзыв:</h3>

@using (Html.BeginForm("AddReview", "ShawaShop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    if (!Request.IsAuthenticated)
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Для добавления отзыва необходимо <strong>авторизоваться</strong>
        </div>
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.ShopId)
    <div class="form-group">
        @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @if (Request.IsAuthenticated)
            {
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = "3", style = "min-width: 100%" })
            }
            else
            {
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = "3", style = "min-width: 100%", disabled })
            }
        </div>
        <label class="col-md-2 control-label" for="negative-review-radio-button">Оценка</label>
        <div class="col-md-10" id="positive-negative-switcher">
            @Html.RadioButtonFor(model => model.Positive, true, new { id = "positive-review-radio-button" })
            <label for="positive-review-radio-button">Положительная</label>
            @Html.RadioButtonFor(model => model.Positive, false, new { id = "negative-review-radio-button" })
            <label for="negative-review-radio-button">Отрицательная</label>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success pull-right" value="Опубликовать" @disabled />
        </div>
    </div>
}