﻿@model ILoveShawa.ViewModels.LikeViewModel

@if (Request.IsAuthenticated)
{
    using (Ajax.BeginForm("SetLike" + (Model.Liked ? "Off" : "On"), "Like", null,
        new AjaxOptions
        {
            UpdateTargetId = "review-like-" + Model.ReviewId,
            HttpMethod = "POST"
        }, new { @class = "like-form" }))
    {
        @Html.HiddenFor(m => m.ReviewId)
        @Html.HiddenFor(m => m.Count)
        <button type="submit" class="btn @(Model.Liked? "btn-info active" : "btn-default") pull-right">
            <span class="glyphicon @(Model.Liked ? "glyphicon-heart" : "glyphicon-heart-empty")"></span>
            @Model.Count
        </button>
    }
}
else
{
    <button class="btn btn-default pull-right disabled" data-toggle="tooltip" data-placement="left" title="Необходимо авторизироваться">
        <span class="glyphicon @(Model.Liked ? "glyphicon-heart" : "glyphicon-heart-empty")"></span>
        @Model.Count
    </button>
}