﻿@using System.Web.Mvc.Html
@using ILoveShawa.Models
@model ILoveShawa.ViewModels.ShowingReviewViewModel

<li class="media review-item @(Model.Review.Positive ? "positive" : "negative")">
    <div class="media-left review-avatar">
        <div class="shawa-shop-list-avatar-container">
            <img class="media-object" src="@Model.AvatarUrl" />
        </div>
    </div>

    <div class="media-body">
        <div class="shawashop-name">
            <a href="@Model.Url">
                @Model.Name
            </a>
        </div>
        <div class="review-text">
            <p>@Model.Review.Text</p>
        </div>
        <div id="review-like-@Model.Review.Id">
            @if (Request.IsAuthenticated)
            {
                @Html.Partial("Like", @Model.Review.GetLikeViewModel((User.Identity).GetUserData().Id))
            }
            else
            {
                @Html.Partial("Like", @Model.Review.GetLikeViewModel())
            }
        </div>
    </div>
</li>

