﻿@model ILoveShawa.Models.ShawaShop
@{
    var score = Model.GetShowingScore();
}

<li class="media shop-item" shop-id="@Model.Id">
    <div class="media-left">
        <div class="shawa-shop-list-avatar-container">
            <img class="media-object" src="@Model.AvatarUrl" alt="...">
        </div>
    </div>
    <div class="media-body">
        <a href="@Url.Action("Get","ShawaShop", new {id = Model.Id})">
            <h4 class="media-heading">@Model.Name</h4>
        </a>
        <p>Средняя оценка: <span class="avarage-score">@score.AverageScore.ToString("F2")</span></p>
        <p>Уже попробовало @score.ScoreCount человек</p>
        <p>Количество отзывов: @Model.Reviews.Count</p>
        <p>@(string.IsNullOrWhiteSpace(Model.Address) ? "Не указан адрес" : Model.Address)</p>
    </div>
</li>