﻿@model ILoveShawa.ViewModels.ScoreViewModel

@{
    int? userScore = Model.UserScore;
    Model.UserScore = Model.UserScore ?? (int)Math.Round(Model.AverageScore);
}
<div id="score-panel" class="row">
    <h3>Рейтинг шавермы</h3>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        @using (Ajax.BeginForm("SetScore", null,
            new AjaxOptions {UpdateTargetId = "show-and-add-score",
                HttpMethod = "POST",
                OnSuccess = "$('[data-toggle=\"tooltip\"]').tooltip()"
            },
            new {id = "score-form"}))
        {
            @Html.HiddenFor(m => m.ShopId)
            @Html.HiddenFor(m => m.AverageScore)
            @Html.HiddenFor(m => m.ScoreCount)
            <span class="starRating">
                @for (int counter = 10; counter > 0; counter--)
                {
                    if (Request.IsAuthenticated)
                    {
                        @Html.RadioButtonFor(model => model.UserScore, counter, new { id = "rating" + counter, @class = "rating-radio" })
                    }
                    else
                    {
                        @Html.RadioButtonFor(model => model.UserScore, counter, new { id = "rating" + counter, @class = "rating-radio", disabled = true })
                    }
                    <label for="@("rating" + counter)" class="rating-label" data-toggle="tooltip" data-placement="top" title="@counter">@counter</label>
                }
            </span>
        }
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        @if (Model.ScoreCount > 0)
        {
            <span id="score-info">
                <span id="average-score" title="Средняя оценка">@Model.AverageScore.ToString("F3")</span>
                <span id="score-count" title="Количество оценок">@Model.ScoreCount</span>
            </span>

            if (userScore.HasValue)
            {
                <span id="user-score-info">
                    <span>Ваша оценка: <span id="user-score-value">@userScore.Value</span></span>
                    @Ajax.ActionLink("Удалить оценку",
                        "RemoveScore",
                        "ShawaShop",
                        new {Model.ShopId},
                        new AjaxOptions {UpdateTargetId = "show-and-add-score", HttpMethod = "POST"})
                </span>
            }
        }
        else
        {
            <p>Еще никто не попробовал эту шаверму</p>
        }
    </div>
</div>

@if (!Request.IsAuthenticated)
{
    <div class="modal fade" id="unauthorized-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ошибка авторизации</h4>
                </div>
                <div class="modal-body">
                    <p>Для выставления оценок необходимо авторизироваться</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}